Language: Cpp
Standard: c++20
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  AfterControlStatement: false
  AfterExternBlock: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

NamespaceIndentation: None
AccessModifierOffset: -4

AlignTrailingComments: true
AlignConsecutiveAssignments: AcrossComments

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline

IndentCaseLabels: true
AlignConsecutiveShortCaseStatements:
  AlignCaseColons: true
  AcrossComments: true
  Enabled: true

AlwaysBreakTemplateDeclarations: Yes

BinPackArguments: false
BinPackParameters: false
AllowAllConstructorInitializersOnNextLine: true

InsertBraces: true