Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

NamespaceIndentation: None
AccessModifierOffset: -4

AlignTrailingComments: true
AlignConsecutiveAssignments: AcrossComments

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline

IndentCaseLabels: true
