/cmake-build-debug
/cmake-build-release
/assets/*
!/assets/shaders/
!/assets/fonts/font-awesome/LICENSE.txt
!/assets/fonts/inter/OFL.txt
/external
/.idea
/.cache
./docs/doxygen
./docs/diagrams
/Doxyfile
/docs/doxygen/
