# Language and standard
language = CPP
cxx_standard = 20

# Indentation
indent_columns = 4
tab_width = 4
use_tabs = false

# Line width
code_width = 100

# Namespaces
namespace_indent = 0

# Access modifiers
access_modifier_indent = -4

# Alignments
align_trailing_comments = true
align_assignments = true
align_consecutive_assignments_across_comments = true

# Pointers and references
pointer_align = left
reference_align = left

# Braces
nl_brace_begin = add
nl_brace_class = add
nl_brace_struct = add
nl_brace_func = add
nl_brace_enum = add

# Short statements
allow_short_if = true
allow_short_for = true
allow_short_while = true
allow_short_case = true
allow_short_functions = inline

# Case labels
indent_case_labels = true
align_consecutive_short_case_statements = true
align_case_colons_across_comments = true

# Templates
break_templates = add

# Function parameters
bin_pack_args = false
bin_pack_params = false
ctor_initializer_all_on_next_line = true

# Misc
insert_braces = true

# Designated initializers
align_assign_colon_in_structs = true
